@model MovieTeka.ViewModels.LoginViewModel
<main class="forms-container container">
<h1>Sign in to your account</h1>
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"]</span>
    </div>
}
<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="">
        <label class="movie-actions-label" asp-for="EmailAddress"></label>
        <input class="movie-actions-input" asp-for="EmailAddress"/>
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="movie-actions-label" asp-for="Password"></label>
        <input class="movie-actions-input" asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="btn-group">
        <input class="btn-submit btn" type="submit" value="Sign in"/>
        <a class="btn-submit btn" asp-controller="Home" asp-action="Index">Cancel</a>
    </div>
</form>
</main>